@use "sass:color";
@use "../../styles/colors";
@use "../../styles/mixins";

.loadoutEditor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.configurator {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 16px;
  overflow: auto;
}

.percentRow {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 4px;
}

.enterPercentsToggle {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  color: colors.$gk-orange;
}

.loadoutTabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.loadoutTab {
  display: flex;
  gap: 4px;
}

.selectButton {
  padding: 8px 2px;
  border-radius: 100px;
  color: colors.$gray;
  border: 1px solid colors.$gray;
  writing-mode: vertical-lr;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.5);
  }
}

.loadoutSummary {
  flex: 1;
  padding: 0 4px;
}

.note a {
  color: colors.$blue-dark;
  text-decoration: underline;
}

.supportBonusInput {
  display: flex;

  input {
    width: 80px;
  }
}

.expanderButtons {
  display: flex;
  margin-bottom: 4px;

  button {
    margin: 0 auto;
    color: colors.$blue;
    font-size: 16px;
    text-align: center;
  }

  .disabled {
    color: colors.$gray;
    cursor: default;
  }
}

.strategySelect {
  border: 2px solid colors.$gray-light;
  border-radius: 4px;
  padding: 4px;
  display: none;
}

.subLinks {
  display: flex;
  justify-content: space-between;
  color: colors.$blue;
  font-size: 12px;
}

.url {
  font-size: 10px;
  word-break: break-all;
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: 8px;

  button,
  a {
    min-width: 60px;
    padding: 8px;
  }
}

.loader {
  flex: 0;
}

.ad {
  margin-bottom: 16px;
}

.entities {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-auto-rows: 68px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}

.filter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 4px;
}

.defaultFilters {
  display: flex;
  flex: 1;
}

.customFilters {
  display: flex;
  gap: 4px;
}

.toggle {
  gap: 4px;
  border: 2px solid colors.$gray-light;
  border-radius: 22px;
  padding: 8px;
  color: colors.$gray;
  font-weight: 600;
  line-height: 24px;
}

.enabled {
  border-color: colors.$gk-red-orange-dark;
  background-color: colors.$gk-orange-extra-light;
  color: colors.$gk-red-orange-dark;
}

.infoArea {
  display: flex;
  flex-direction: row;
  padding: 6px;
  overflow: auto;
}

.turnStateArea {
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}

.turnIndicatorWrapper {
  display: flex;
  margin-bottom: 4px;
}

.controls {
  display: grid;
  grid-auto-flow: column;
  margin-left: auto;
  gap: 8px;
  width: 84px;
}

.turnViewer {
  display: flex;
  height: 52px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: 52px;
  gap: 4px;
}

.cardPileHeader {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;
}

.cardPileData {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  // grid-auto-rows: 52px;
  gap: 4px;
  align-content: center;
  align-items: stretch;
  justify-content: start;
  padding: 6px 0px 6px 6px;
  padding-right: 0;
}

.cardPileData.large {
  grid-template-columns: repeat(auto-fill, 84px);
  // grid-auto-rows: 68px;
}

.cardPileData.middle {
  grid-template-columns: repeat(auto-fill, 72px);
  // grid-auto-rows: 68px;
}

.cardPileData.handCards {
  grid-template-columns: repeat(auto-fill, 84px);
  // grid-auto-rows: 68px;
}

.cardPileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.logsSection {
  display: flex;
  flex-direction: column;
  height:100%;

  .content {
    flex-grow: 1;
    overflow-y: auto;
  }
}