@use "../../styles/mixins";
@use "sass:color";
@use "../../styles/colors";

.turnTypeOrder {
  display: flex;
  height: 52px;
  grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  grid-auto-rows: 52px;
  gap: 4px;
}

.turnTypes {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-auto-rows: 68px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}

.turnTypeIcon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 2px colors.$gray-light;
  border-radius: 8%;
  background-color: colors.$gray-extra-light;
  color: colors.$gray-dark;
  
  .dropArea {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

button.turnTypeIcon:hover {
  outline: 3px solid colors.$gk-orange;
}

.fill {
  width: 100%;
}

.large {
  width: 16%;
}

.medium {
  width: 13%;
}

.small {
  width: 10%;
}

.vocal {
  background-color: colors.$vocal;
  color: colors.$white;
}

.dance {
  background-color: colors.$dance;
  color: colors.$white;
}

.visual {
  background-color: colors.$visual;
  color: colors.$white;
}

.elapsed {
  background-color: colors.$gray-light;
  color: colors.$white;
}

.sub {
  display: flex;
  align-items: center;

  &:hover,
  &:focus-within {
    .buttonGroup {
      opacity: 1;
    }
  }

  button {
    font-size: 22px;

    &:disabled {
      color: colors.$gray-light;
      cursor: not-allowed;
    }
  }
}

.title {
  flex: 1;
}
