@use "../../styles/colors";
@use "../../styles/mixins";
@use "sass:color";

.skillCardOrderTabs {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skillCardOrderTab {
  display: flex;
  gap: 4px;
}

.selectButton {
  padding: 8px 2px;
  border-radius: 100px;
  color: colors.$gray;
  border: 1px solid colors.$gray;
  writing-mode: vertical-lr;
  font-weight: 600;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 8px color.adjust(colors.$black, $alpha: -0.5);
  }
}

.skillCardOrderSummary {
  flex: 1;
  padding: 0 4px;
}

.skillCardOrderEditor {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 4px;
  overflow: auto;
  width: 100%;
}

.skillCardOrderGroup {
  display: flex;
  flex-direction: column;
}

.skillCardOrder {
  display: grid;
  grid-template-columns: repeat(auto-fill, 52px);
  grid-auto-rows: 52px;
  gap: 4px;
  margin: 4px 0 0 0;
}

.summary {
  display: flex;
  gap: 0 8px;
  flex-wrap: wrap;
}

.entities {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-auto-rows: 68px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}

.buttons {
  display: flex;
  align-items: stretch;
  gap: 8px;

  button,
  a {
    min-width: 60px;
    padding: 8px;
  }
}

.sub {
  display: flex;
  align-items: center;
  margin-top: 2px;

  &:hover,
  &:focus-within {
    .buttonGroup {
      opacity: 1;
    }
  }

  button {
    font-size: 22px;

    &:disabled {
      color: colors.$gray-light;
      cursor: not-allowed;
    }
  }
}

.index {
  flex: 1;
}

.buttonGroup {
  display: flex;
  gap: 4px;

  @media (hover: hover) {
    opacity: 0;
    transition: all 0.3s;

    &:hover {
      opacity: 1;
    }
  }

  @media (hover: none) {
    button {
      font-size: 20px;
      display: none;
    }

    &.expanded button {
      display: flex;
      opacity: 1;
    }
  }
}

.pickButton {
  color: colors.$gk-orange;
}

.addButton {
  color: colors.$green;
}

.moveButton {
  color: colors.$blue;
}

.deleteButton {
  color: colors.$red;
}

.expandButton {
  display: none;
  margin-left: 4px;
  color: colors.$gray;

  @media (hover: none) {
    display: flex;
  }
}

.removedCardOrder {
  display: flex;
  gap: 4px;
}
