@use "sass:color";
@use "../../styles/colors";

.priorityStats {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 0 12px 0;
  color: colors.$black-dark;
}

.priorityStatsTurnData {
  border-left: 4px solid;
  margin-bottom: -8px;
  border-color: color.adjust(colors.$gk-orange, $lightness: 20%);
}

.priorityStatsTurn {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: start;
  border-radius: 0 16px 2px 0;
  padding: 6px;
  padding-left: 8px;
  color: colors.$black-dark;
  font-weight: 600;
  background-color: color.adjust(colors.$gk-orange, $lightness: 20%);
}

.priorityStatsData {
  display: grid;
  grid-template-columns: repeat(auto-fill, 52px);
  // grid-auto-rows: 52px;
  gap: 4px;
  align-content: center;
  align-items: center;
  justify-content: start;
  padding: 6px 0px 6px 6px;
  padding-right: 0;
}

.priorityStatsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.entities {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, 68px);
  grid-auto-rows: 68px;
  gap: 8px;
  justify-content: space-around;
  padding: 8px;
  overflow-y: scroll;
}
