@use "../../styles/mixins";
@use "../../styles/tokens";
@use "../../styles/colors";

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
  gap: 6px;

  img {
    border-radius: tokens.$radius-md;
    @include mixins.pop-in;
    @include mixins.stagger(25ms);
  }
}

.addCardsButton {
  aspect-ratio: 1;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  color: colors.$gk-orange;
}