@use "../../styles/colors";

.loadoutEditor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 4px;
  overflow: auto;
  width: 100%;
}

.pItemsRow {
  display: flex;
  align-items: center;
  padding-right: 8px;
  color: colors.$black;
}

.pItems {
  display: block;
  flex: 1;
}

.pDrinksRow {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  color: colors.$black;
}

.pDrinks {
  flex: 1;
}